#*****************************************************************************#
#         GEARC. Gestor y administrador de ramos y calificaciones.            #
#                                                                             #
#          Copyright [AÑO] [Su Nombre Aquí] <correo-electrónico>              #
#*****************************************************************************#

